.favoritos{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;
    max-width: 800px;
    margin: 15px auto;
    width: 100%;
    padding:0 10px;
    font-size: clamp(14px, 2vw, 16px);
}

.favoritos li{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(66, 136, 235);
}

.favoritos li span{
    width: 10rem;
    flex-grow: 1;
}

.button-favoritos {
    color: black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;
}

.button-favoritos:hover {
    background-color: rgb(66, 136, 235);
    color: white;
}

.button-favoritos.detalhes{
    border: 2px rgb(66, 136, 235) solid;
}

.links :first-child{
    border: 2px solid rgb(66, 136, 235);
}